#root {
    height: 100vh;
}

.layout {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 90%;
}

.header {
    display: grid;
    grid-template-columns: 90% 10%;
}

.content {
    display: grid;
    background-color: hsl(0, 0%, 98%);
    grid-template-rows: 50px 90%;

    padding: 20px;
}

.search-area {
    display: grid;
    grid-template-columns: 90% 10%;
}

.country-cards {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%; */

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
}

.country-card {
    height: 45%;
    width: 24%;

    border: black 1px solid;
    display: grid;
    grid-template-rows: 50% 50%;

    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow:  2px 2px 5px 5px hsl(0, 0%, 90%);
}

.country-card__img {
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    width: 100%;
}

.country-card__info {
    display: flex;
    flex-direction: column;

    padding: 10px;
}

.country-details {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
        "back ."
        "image info"
}

.country-details__back {
    grid-area: back;

    justify-self: center;
    align-self: center;
}

.country-details__image {
    grid-area: image;

    height: 100%;
    width: 100%;
}

.country-details__info {
    grid-area: info;
    display: flex;
    flex-flow: column wrap;

    justify-content: center;
    align-content: center;
}

.info-text-bold {
    font-weight: bold;
}